@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

p, h1, h2, h3, h4, h5, h6 { margin: 5px 0 0 5px; color: ffffff;}

a {
color: #3060A8;
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

b {color: #76b900;}

nav, header, section, article, aside, footer {
	display: block;
}

body {
	width: 100%;
	height: 100%;
	background: #282828;
}

#wrapper {
	width: 880px;
	margin: 0 auto;
	padding: 10px;
	background: #393939;
	color: #ffffff;
	border-radius: 10px;
}

#nav {
	height: 50px;
	margin-bottom: 10px;
	font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background: #000000;
	list-style: none;
}

#nav li {
	float: left;
	position: relative;
	width: 100px;
	text-align: center;
}

#nav li a {
	height: 35px;
	padding-top: 15px;
	width: 100px;
	display: block;
	color: #ffffff;
	background: #000000;
	text-decoration: none;
}

#nav menu {
	list-style: none;
	position: absolute;
	display: none;
}

#nav menu li {
	padding-top: 1px;
}

#nav menu a { 
	height: 25px;
	padding-top: 0px;
	display: block;
}

#nav li:hover a { 
	background: #262626;
}

#nav li a:hover {
	color: #76b900;
	font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#nav li:hover menu {
	display: block;
	text-transform: none;
}

#nav li:hover menu li a:hover { 
	color: #76b900;
	font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#header {
	height: 234px;
	margin-bottom: 10px;
	background: #000000;
}

#about {
	float : left;
	margin: 30px 0 0 30px;
	width: 300px;
	font: normal 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: 808080;
	
}
#logo {
	float : right;
	margin-right: 10px;
	background: url('../img/logo.png') no-repeat; 
}

a.logo {
display: block;
width: 500px;
height: 234px;
}

#content {
	width: 880px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	background: #000000;
}

#right_sidebar {
	width: 300px;
	float: left;
	margin-bottom: 10px;
	background: #000000;
}

#footer {
	clear:both;
	height: 100px;
	background: #000000;
}

#footer a{color:#27252d;}
.fleft{
	float: left;
	text-align: left;
	padding: 30px;
	width: 600px;
}
.counter {
	float: left;
	padding: 30px;
	display: block;
	width: 100px;
	height: 40px;
}
.fright{float:right;text-align:left;width:128px;}
.fright a {display:block;width:128px;height:128px;background:url('../img/oemlogo.png') 0 0 no-repeat;overflow:hidden;}

#listA {

    float: left;
    padding: 0 0;
    width: 100%;
}

.thousand {
    color: orange;
}

.short-summary {
    border-bottom: 1px dotted #CCCCCE;
    float: left;
    overflow: hidden;
    padding: 12px 0px;
    position: relative;
    width: 860px;
}

.summary-detail {
    padding: 9px 0px 5px 0px;
}

.user-stats-table .short-summary {
    width: 764px;
}

.short-summary h2 a {
    color: #2A5594;
    font-family: "Trebuchet MS", "segoe ui", arial, sans-serif;
    font-size: 17px;
}

.short-summary .userinfo {
    color: #666666;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

.subheader {
    border-bottom: 1px solid #666;
    height: 34px;
    clear: both;
    margin-bottom: 15px;
}

.subheader h1, .subheader h2 {
    float: left;
    font-size: 170%;
    line-height: 34px;
    margin-bottom: 0px;
}

.module {
    color: #444;
    padding: 0 0px 2px 0px;
    margin-bottom: 10px;
}

.post-text h1,.post-text h2,.post-text h3{
    margin-bottom:1em;
}

.post-text p{
    word-wrap:break-word;
}

.post-text hr{
    background-color:#ddd;color:#ddd;
}

.post-text li
{
    font-size:110%;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 0;
}

.module h4 {
    line-height: 1.4;
    font-size: 130%;
    padding-bottom: 7px;
}
.post-text {
    width: 640px;
    font-size: 107%;
    margin-left:5px;
    margin-bottom: 5px;
    line-height: 130%;
}

#mainbar {
    float: left;
    margin-bottom: 40px;
    width: 625px;
}

#sidebar {
    overflow: hidden;
    float: right;
    margin-bottom: 40px;
    width: 250px;
}

.summarycount {
    color: #808185;
    font-size: 350%;
    font-weight: bold;
}

.userinfo a, a.userinfo {
    color: #3060A8;
}

.short-summary .counts {
    float: left;
    padding-right: 2px;
}

.short-summary .counts .item-count {
    font-size: 23px;
    font-weight: bold;
}

.short-summary .counts .views .item-count {
    font-size: 23px;
    font-weight: normal;
}

.short-summary .question-summary-wrapper {
  float: left;
  width: 685px;
  margin-left: 10px;
}

.short-summary .question-summary-wrapper h3 {
    font-size: 130%;
	margin: 0;
}

.short-summary .votes, .short-summary .status, .short-summary .views {
    float: left;
    font-size: 11px;
    height: auto;
    margin: 0 1px 0 5px;
    padding: 9px 1px 1px 1px;
    text-align: center;
    width: 46px;
}

.short-summary .votes {
    color: #545454;
}

.short-summary .views {
    color: #989898;
}

.short-summary .favorites {
    width: 24px;
    float: left;
    text-align: center;
}

.short-summary .answered-accepted {
    background-color: #70A210;
    color: #FFFFFF;
}

.summary-detail .counts {
    width: 70px;
}

.summary-detail .counts .item-count {
    font-size: 24px;
}

.summary-detail .counts .views .item-count {
    font-size: 11px;
    font-weight: normal;
}

.summary-detail .question-summary-wrapper {
    width: 650px;
}

.summary-detail .question-summary-wrapper h2 {
    padding: 2px 0px 5px 0px;
}

.summary-detail .question-summary-wrapper div {
    font-size: 13px;
}

.summary-detail .votes, .summary-detail .status, .summary-detail .views {
    width: 65px;
}

.summary-detail .userinfo {
    margin-right: 0px;
}

.tagged-interesting {
#    background-color: #f2fafc;
    background-color: #d5f4fc;
}

#question-table {
    margin-bottom: 10px;
    float:left;
}

.questions-count {
    color: #808080;
    font-family: sans-serif;
    font-size: 24px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.questions-count span {
    font-size: 36px;
    margin-left:0px;
}

.boxA {
    margin: 0px 0px 25px 15px;
    padding: 15px 10px 15px 20px;
}

.boxA h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0px;
}

.boxA .body {
    font-size: 13px;
    padding: 0px;
}

.boxA .body p {
    font-size: 15px;
    margin: 0px;
}

.boxA .more {
    padding: 10px 0px 0px 0px;
}

.more a {
    font-size: 15px;
    padding: 0px 12px 0px 0px;
	float: right;
}




.answered-by-owner {
}

.accepted-answer {
    border-bottom-color: #9BD59B;
}

.answered, .answered-accepted {
    color:  #70A210;
}

.unanswered {
    color: #A42110;
}

.focusedAnswer {
    background: #FFFFCC;
}





.tags {
    display: block;
    font-family: sans-serif;
    line-height: 225%;
    margin-top: 5px;
}

.tags a, span.tag {
    background-color: #DFE9F0;
    color: #2A5594;
    font-size: 12px !important;
    font-weight: normal;
    margin: 0px 1px 0px 0px;
    padding: 3px 8px;
    text-decoration: none;
    white-space: nowrap;
}

.tags a:hover {
    background-color: #566D7E;
    color: #FFFFFF;
}




#description, .form-item {
    margin: 10px;
}

#id_title, #id_tags, #id_summary {
	color: #FFFFFF;
    padding: 3px 2px;
    margin: 0px 0px 10px 0px;
    width: 850px;
    border: 1px solid #999999;
}

.title-desc {
    color: #666666;
    font-size: 90%;
}

#ask-related-questions {
    max-height: 150px;
    overflow-y: auto;
}

.resizable-textarea {
    width: 734px;
    margin: 0px;
}

#editor {
	color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    min-height: 200px;
    padding: 3px 2px;
    width: 850px;
    border: 1px solid #999999;
}

span.form-error {
    color: #990000;
    font-weight: normal;
    margin-left: 5px;
}

.submit {
    background: #262626;
    border: 1px solid #777777;
    cursor: pointer;
    font-size: 120%;
    font-weight: bold;
    padding: 7px 7px;
    margin: 2px 4px 10px 10px;
}

.submit:hover {
    background: #101010;
	color: #76b900;
}
